body {
    font-family: sans-serif;
    line-height: 1.6;
}

.wikipedia{
    margin: 100px 200px;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;
}

h1{
    font-weight: normal;
}
.wiki{
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    justify-content: left;
    gap: 15px;
}

.right{
    display: inline-flex;
    justify-content: right;
    align-items: flex-end;
    gap: 15px;
}

a{
    color: blue;
    text-decoration: none;
}

.flag{
    padding-left: 1.6em;
}

.second{
    display: flex;
    justify-content: left;
    align-items: baseline;
}

.sec{
    padding-left: 5px;
    font-size: 12px;
}
